/**
 * Import all blocks stylesheets
 **/
 @import './carousel/block.scss';
 @import './luximage/block.scss';
 @import './piramide/block.scss';
 @import './heading/block.scss';
 @import './grifado/block.scss';
 @import './valores/block.scss';
 @import './servico/block.scss';
