.lux-cta {
    padding: 2.5rem 0;

    background: linear-gradient(rgba(#fecd00, 0), rgba(#fecd00, .3));

    .title {
        h1 {
            font-weight: 700;
            font-size: calc(1.5rem + 1.5vw);
        }
    }
    
    .text {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
    }

    .action {
        a {
            font-size: 1.1rem;
        }
    }
}