@import "./etapa/block.scss";

.lux-etapas {
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5rem;

    img {
        width: auto;
    }

    &::after {
        content: "";
        position: absolute;

        width: 25%;
        height: 100%;
        right: 0;
        top: 0;

        z-index: 1;

        background: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 1));
        // background-color: rgba(#666, .1);
    }

    .etapas {
        display: flex;

    }
    
    .etapas-footer {
        position: relative;
        z-index: 2;

        .etapas-control-prev,
        .etapas-control-next {
            position: relative;
            display: inline-flex;
            justify-content: center;
    
            width: 30px;
            height: 30px;
            background: #d9d9d9;
            border: none;

            opacity: .7;
            transition: opacity .2s;
    
            border-radius: 50%;
    
            .control-next-icon,
            .control-prev-icon {
                display: flex;

                margin: auto;
    
                width: unset;
                height: unset;
    
                font-size: 1.1rem;
    
                color: #494949 !important;
                font-family: bootstrap-icons;
                font-weight: bolder;
    
                background-image: none;
    
            }
    
            &:hover,
            &:focus,
            &:active {
                opacity: 1;
            }
    
            .control-prev-icon::before {
                content: "\f284";
            }
    
            .control-next-icon::before {
                content: "\f285";
            }

            &[disabled] {
                opacity: .25;
            }
        }

        .info {
            color: #ccc;
            font-style: italic;
            font-size: .85rem;
            font-weight: 300;
        }
    }

}

@media all and (max-width: 360px) {
    .lux-etapas {
        margin-right: -1.25rem;
        &::after {
            width: 10%;
        }
    }
}
