@import './etapa/block.scss';

.lux-etapas {
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5rem;

    img {
        width: auto;
    }

    &::after {
        content: '';
        position: absolute;

        width: 25%;
        height: 100%;
        right: 0;
        top: 0;

        background: linear-gradient(90deg, rgba(#fff, 0), #fff);
    }

    .control-prev,
    .control-next {
        display: inline-flex;
        
        margin-right: .5rem;
        font-size: 1.1rem;

        height: 30px;
        width: 30px;
        
        background-color: #eee;
        border: solid 1px #bbb;
        border-radius: 50%;
        color: #494949;

        &::before { 
            margin: auto;
        }
    }
}

@media all and (max-width: 360px) {
    .lux-etapas {
        margin-right: -1.5rem;
        &::after {
            width: 10%;
        }
    }
}