.lux-etapa {
    min-width: 40%;
    width: 40%;
    // display: block;

    .etapa-heading {
        margin-bottom: .5rem;
        position: relative;

        .icon {
            display: flex;

            width: 40px;
            height: 40px;

            background: linear-gradient(135deg, rgba(254, 0, 97, 0) -25.48%, #fe0061 86.64%);
            border-radius: 50%;

            margin-bottom: .75rem;
            
            img {
                width: 20px;
                height: 20px;
                margin: auto;
            }

            &::after {
                content: '';

                position: absolute;
                top: 20px;
                right: 3px;
                
                width: calc(100% - 46px);
                height: 3px;

                background-color: #D9D9D9;
            }
        }

        .etapa-title {
            font-size: 1.1rem;
            font-weight: 600;
            padding: 0 .25rem;
        }
    }

    .etapa-content {
        font-size: .85rem;
        line-height: 1.5;
        padding: .25rem;
    }
}

@media all and (max-width: 992px) {
    .lux-etapa {
        min-width: 50%;
    }
}

@media all and (max-width: 768px) {
    .lux-etapa {
        min-width: 70%;
    }
}

@media all and (max-width: 576px) {
    .lux-etapa {
        min-width: 85%;
    }
}

@media all and (max-width: 360px) {
    .lux-etapa {
        min-width: 90%;
    }
}